<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

<div class="card yellow">

    <form method="post" action="saveitem">
        Movie Title*: <input type="text" name="title" required/>
Director: <input type="text" name="director"/>
        Main character: <input type="text" name="character"/>
        Released date: <input type="date" name="released_Date"/>
        trailer link: <input type="url" name="trailerLink"/>
        email: <input type="email" name="email"/>
        discription: <input type="text" name="discription"/>





        Added by: <input type="text" name="addedBy" value="<%=loginName%>" readonly/>

        <button class="btn" type="submit" name="submit">Save Item</button>

    </form>

</div>
<% include ./footer %>
</body>
</html>
