<header>
    <nav class=yellow>
        <a href="/" class="brand-logo purple-text">
            <i class="material-icons">library_movie</i>Hackatacker's Movies  Trending App
        </a>
    </nav>
</header>
<main class="container">
